<div class="panel-heading">
    <h2 class="panel pull-left" style="padding-top: 7.5px; font-size: 25px;"><strong>{{ contact.name }}</strong></h2>
</div>
<div class="row panel-heading">
    <div class="col-xs-12">
        <img src="{{ contact.imageUrl }}" alt="Img goes here" class="img-responsive">
    </div>
    <div class="row">
        <a href="#"><button class="btn btn-danger pull-right">Delete</button></a>
        <a href="#"><button class="btn btn-primary pull-right">Edit</button></a>
    </div>
</div>
<div class="row panel-body">
    <div class="col-xs-12">
        <ul>
            <li class="list-group-item"><strong>Email: {{ contact.email }} </strong></li>
            <li class="list-group-item"><strong>Phone: {{ contact.phone }}</strong></li>
        </ul>
    </div>
</div>
