<!-- <div class="row">
    <div class="col-xs-12">
        <h2 class="panel pull-left" style="padding-top: 7.5px; font-size: 25px;"><strong>Contacts</strong></h2>
        <button class="btn btn-success">
            New Contact
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">Contact Name</h4>
                <p class="list-group-item-text">Contact Info</p>
            </div>
            <span class="pull-right">
                <img src="" alt="" class="img-responsive" style="max-height: 50px;">
            </span>
        </a>
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-xs-12">
    <div class="panel-heading clearfix">
        <h2 class="panel pull-left" style="padding-top: 7.5px; font-size: 25px;"><strong>Contacts</strong></h2>
        <button class="btn btn-success pull-right">New Contact</button>
    </div>
    </div>
</div> -->

<div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <span class="title pad-left-right">Contacts</span>
          </div>
          <div class="row">
            <div class="input-group pull-left pad-left-right col-xs-7">
              <input type="text" #searchBox (keyup)="search(searchBox.value)" class="form-control" placeholder="Enter a search value">
              <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
            </div>
            <div class="pull-right pad-left-right">
              <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div cdkDropList
                [cdkDropListData]="contacts">
                <div cdkDrag
                *ngFor="let contact of contacts | contactsFilter:term"
                [cdkDragData]="contact">
                    <app-contact-item
                    [contact]="contact"></app-contact-item>
                </div>
            </div>
        </div>
    </div>